
"""
Address to SQL Database
"""

DATABASE = {
    'drivername': 'postgres',
    'host':'localhost',
    'port':'5432',
    'username': 'postgres',
    'password': '',
    'database': 'spark-database'
}